<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', activities_path, class: "btn btn-outline-info" %>
        <%= link_to '編集', edit_activity_path(@activity), class: "btn btn-outline-info" %>
    </div>
</div>
<% if flash[:notice] %>
    <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @activity %>

<div class="p-comment_list">
    <div class="p-comment_listTitle">コメント</div>
    <%= render @activity.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>
