<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', activities_path, class: "btn btn-outline-info" %>
        <%= link_to '編集', edit_activity_path(@activity), class: "btn btn-outline-info" %>
    </div>
</div>
<div class="card">
    <div class="card-header bg-info text-white">
        <h4><%= @activity.title %></h4>
    </div>
    <% if @activity.img? %>
        <%= image_tag @activity.img.url %>
    <% else %>
        <%= image_tag 'no_image.jpg', alt: '画像', class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
        <p class="card-text"><%= simple_format(@activity.content) %></p>
    </div>
    <div class="card-footer">
        <p class="text-right font-weight-bold mr-10"><%= @activity.branch_name %></p>
    </div>
</div>