<!DOCTYPE html>
<html>
  <head>
    <title>ActivityBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <ul>
            <% flash[:alert].each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
